[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/conf/config.env
EnvironmentFile=-/etc/kubernetes/conf/kubelet.env
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/run/%p-pod.uuid \
--volume=resolv,kind=host,source=/etc/resolv.conf,readOnly=true \
--mount volume=resolv,target=/etc/resolv.conf \
--volume modprobe,kind=host,source=/usr/sbin/modprobe \
--mount volume=modprobe,target=/usr/sbin/modprobe"

ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/%p-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBELET_ADDRESS \
	    $KUBELET_PORT \
	    $KUBELET_HOSTNAME \
	    $KUBELET_ARGS

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/%p-pod.uuid

Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
