[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd2.service

[Service]
EnvironmentFile=/etc/kubernetes/conf/config.env
EnvironmentFile=-/etc/kubernetes/conf/apiserver.env
Environment="RKT_RUN_ARGS=--net=host --uuid-file-save=/var/run/%p-pod.uuid \
--volume etcd,kind=host,source=/etc/ssl/etcd,readOnly=true \
--mount volume=etcd,target=/etc/ssl/etcd"

Environment="KUBELET_IMAGE_ARGS=--exec=/apiserver"

ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/%p-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_ETCD_SERVERS \
	    $KUBE_API_ADDRESS \
	    $KUBE_API_PORT \
	    $KUBE_SERVICE_ADDRESSES \
	    $KUBE_ADMISSION_CONTROL \
	    $KUBE_API_ARGS
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/%p-pod.uuid

Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
