apiVersion: v1
kind: ReplicationController
metadata:
  name: openvpn
  namespace: kube-system
  labels:
    name: openvpn
spec:
  replicas: {{ovpn.replicas}}
  selector:
    name: openvpn
  template:
    metadata:
      labels:
        name: openvpn
    spec:
      containers:
        - name: openvpn
          image: jvassev/openvpn-k8s
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: OVPN_NETWORK
              value: {{ovpn.network}}
            - name: OVPN_SUBNET
              value: {{ovpn.mask}}
            - name: OVPN_PROTO
              value: tcp

            - name: OVPN_K8S_SERVICE_NETWORK
              value: {{ kubernetes_cluster_ip_range | ipaddr('network')}}
            - name: OVPN_K8S_SERVICE_SUBNET
              value: {{ lookup('pipe', 'cidr2mask ' + kubernetes_cluster_ip_range) }}

            - name: OVPN_K8S_POD_NETWORK
              value: {{ flannel.network | ipaddr('network')}}
            - name: OVPN_K8S_POD_SUBNET
              value: {{ lookup('pipe', 'cidr2mask ' + flannel_config.Network) }}

            - name: DEBUG
              value: "1"
            - name: OVPN_K8S_DNS
              value: {{kubernetes_dns.ip}}
            - name: OVPN_K8S_DOMAIN
              value: {{kubernetes_dns.domain}}
          ports:
            - name: openvpn
              containerPort: 1194
          volumeMounts:
            - mountPath: /etc/openvpn/pki
              name: openvpn
      volumes:
        - name: openvpn
          secret:
            secretName: openvpn
