client
nobind
dev tun
proto tcp

up /etc/openvpn/update-resolv-conf
down /etc/openvpn/update-resolv-conf

remote-random
{%for node in groups['apiservers'] -%}
remote {{hostvars[node][hostvars[node]['public_iface']].ipv4.address}} {{ovpn.node_port}} tcp
{%endfor -%}

<ca>
{{ lookup('file', '/ansinetes/security/ca.pem')}}
</ca>

<cert>
{{ lookup('file', '/ansinetes/security/certs/ovpn-client.pem')}}
</cert>

<key>
{{ lookup('file', '/ansinetes/security/certs/ovpn-client-key.pem')}}
</key>

key-direction 1
