apiVersion: v1
kind: Secret
metadata:
  name: openvpn
  namespace: kube-system
data:
  dh.pem: {{ lookup('file', '/ansinetes/security/certs/ovpn-dh.pem') | b64encode}}
  certs.p12: {{ lookup('pipe', 'base64 -w 0 /ansinetes/security/certs/ovpn.p12') }}
