apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: kube-system
  labels:
    k8s-app: kube-registry-upstream
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "KubeRegistry"
spec:
  clusterIP: {{registry.ip}}
  selector:
    k8s-app: kube-registry-upstream
  ports:
  - name: registry
    port: 5000
    targetPort: 5000
    protocol: TCP