export ETCDCTL_ENDPOINTS={%for node in groups['etcd-quorum-members']%}https://{{hostvars[node].ansible_host}}:2379,{%endfor%}

export ETCDCTL_CA_FILE="{{ansible_env['ANSINETES_PROJECT']}}/security/ca.pem"
export ETCDCTL_CERT_FILE="{{ansible_env['ANSINETES_PROJECT']}}/security/certs/etcd-client.pem"
export ETCDCTL_KEY_FILE="{{ansible_env['ANSINETES_PROJECT']}}/security/certs/etcd-client-key.pem"
