FLANNELD_IFACE={{vars[public_iface].ipv4.address}}
FLANNELD_ETCD_ENDPOINTS=https://localhost:2379
FLANNELD_ETCD_CAFILE=/etc/ssl/etcd/ca.pem
FLANNELD_ETCD_CERTFILE=/etc/ssl/etcd/client.pem
FLANNELD_ETCD_KEYFILE=/etc/ssl/etcd/client-key.pem
