###
# kubernetes kubelet (minion) config
# http://kubernetes.io/docs/admin/kubelet/

{%set ipv4address = vars[public_iface].ipv4.address -%}

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME="--hostname-override={{ipv4address}}"


{%set node_labels = "--node-labels=ansible_hostname=" + inventory_hostname -%}
{%if ansible_local.vmware.moid -%}
  {%set node_labels = node_labels + ',vm-id=' + ansible_local.vmware.moid %}
{%endif -%}
{%if inventory_hostname in groups['ingress-edges'] -%}
  {%set node_labels = node_labels + ',role=nginx-ingress' -%}
{%endif -%}

# Add your own!
KUBELET_ARGS="\
--register-node \
--require-kubeconfig \
--cluster-dns={{kubernetes_dns.ip}} \
--serialize-image-pulls=false \
--allow-privileged \
--cluster-domain={{kubernetes_dns.domain}} \
--kubeconfig=/etc/kubernetes/conf/kubelet.config \
{{node_labels}} \
"
