###
# kubernetes scheduler config
# # http://kubernetes.io/docs/admin/kube-scheduler/

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="\
--leader-elect \
--kubeconfig=/etc/kubernetes/kube-scheduler/config \
"
