---
apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: /etc/kubernetes/ca.pem
      server: https://{{hostvars[groups.apiservers[0]][public_iface].ipv4.address}}:6443
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: scheduler
    name: scheduler-to-kubernetes
current-context: scheduler-to-kubernetes
users:
  - name: scheduler
    user:
      client-certificate: /etc/kubernetes/kube-scheduler/client.pem
      client-key: /etc/kubernetes/kube-scheduler/client-key.pem
