---
kubernetes_install:
  version: v1.3.6
  sha256: sha256:2db7ace2f72a2e162329a6dc969a5a158bb8c5d0f8054c5b1b2b1063aa22020d

flannel:
  network: "25.0.0.0/16"

kubernetes_cluster_ip_range: "10.254.0.0/16"

kubernetes_apiserver_ip: "10.254.0.1"

kubernetes_service_port_range: "30000-32767"

kubernetes_dns:
  ip: "10.254.0.2"
  replicas: 3
  domain: "cluster.local"

kubernetes_etcd_prefix: /registry

kubernetes_dashboard_port: 30033

#########
etcdctl_params: --ca-file /etc/ssl/etcd/ca.pem --key-file /etc/ssl/etcd/client-key.pem --cert-file /etc/ssl/etcd/client.pem --endpoint https://localhost:2379
kubectl_params: --kubeconfig=/etc/kubernetes/kubelet/config
