[Unit]
Description=HA-Proxy in front Kubernetes API Server
Documentation=https://hub.docker.com/_/haproxy/
After=docker.service

[Service]
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/%p-pod.uuid
ExecStart=/usr/bin/rkt \
	--insecure-options=image \
	--volume config,kind=host,source=/etc/haproxy/apiserver.cfg,readOnly=true \
	--mount volume=config,target=/usr/local/etc/haproxy/haproxy.cfg \
	--net=host \
	--uuid-file-save=/var/run/%p-pod.uuid \
	--volume log,kind=host,source=/dev/log \
	--mount volume=log,target=/dev/log \
	run \
	docker://haproxy:1.7.8-alpine

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/%p-pod.uuid

Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
